@import url(https://fonts.google.com/specimen/Public+Sans);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  overflow-x: hidden;
}
/* header section css */
header {
  position: relative;
  height: 100px;
  background-color: white;
  line-height: 100px;
  padding: 0 60px 0 60px;
  z-index: 0;
}
.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.header-content ul {
  display: flex;
  flex-flow: row wrap;
}
.header-content .logo {
  position: absolute;
  left: 0;
  top: 0;
}

.header-content .invite-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.header-content .menu-btn {
  display: none;
}
.header-content .menu-btn img,
input {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 22px;
}
.menu-btn input {
  display: none;
}
.header-content .menu-btn #menu-icon {
  display: block;
}
.header-content .menu-btn #cross-box {
  display: none;
}
.header-content ul li a {
  display: block;
  text-decoration: none;
  padding: 0 15px 0 15px;
  color: hsl(233, 8%, 62%);
  width: 100px;
  height: 100px;
}
.header-content ul li a:hover {
  border-bottom: 3px solid green;
  color: black;
}
.header-content .invite-btn a {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(233, 59%, 43%)
  );
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
}
.header-content .menu-btn .box {
  display: none;
  width: 100vw;
  height: fit-content;
}
.header-content .menu-btn .hover-box {
  display: block;
  background-color: white;
  margin: auto;
  margin-top: 120px;
  padding: 100px;
  width: 290px;
}
.menu-btn input:checked + #box{
  display: block;
}
.header-content .menu-btn .hover-box a {
  display: block;
  text-decoration: none;
  line-height: normal;
  padding: 10px;
}
@media all and (max-width: 700px) {
  .header-content .invite-btn {
    display: none;
  }
  .header-content nav {
    display: none;
  }
  .header-content .menu-btn {
    display: block;
  }
}
/* main body css*/
main {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: max-content;
}
main .section-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
  position: relative;
  padding: 100px 60px 100px 60px;
  background-color: hsl(0, 0%, 98%);
  z-index: -1;
}
@media all and (max-width: 700px) {
  main {
    overflow-x: hidden;
  }
  main .section-1 {
    flex-flow: column wrap;
    width: 100vw;
    z-index: -1;
  }
  main .section-1 .img-box {
    order: -1;
  }
  main .section-1 .text-box {
    width: 100vw;
    order: 0;
    margin: auto;
    margin-top: 400px;
  }
  main .section-1 .img-box #png-img {
    position: relative;
    right: 40%;
    width: 350px;
  }
  main .section-1 .img-box #svg-img {
    position: relative;
    right: -25%;
    width: 870px;
  }
}
main .section-1 .text-box {
  height: fit-content;
  text-align: justify;
  width: 50vw;
}
main .section-1 .img-box {
  position: relative;
  top: -150px;
  right: -140px;
  z-index: -1;
}
main .section-1 .img-box img {
  position: absolute;
  top: 0;
  right: 0;
}
main .section-1 .img-box #svg-img {
  position: absolute;
  top: -100px;
}
main .section-1 .img-box #png-img {
  position: absolute;
  top: -30px;
}
main .section-1 h1 {
  font-size: 2.5em;
  line-height: 50px;
  color: hsl(240, 21%, 43%);
}
main .section-1 p {
  font-size: 1.2em;
  padding-top: 30px;
  line-height: 25px;
  color: hsl(240, 3%, 51%);
}

main .section-1 a {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(233, 59%, 43%)
  );
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  position: relative;
  top: 50px;
  width: fit-content;
}

/* Session-2 */
main .section-2 {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100vw;
  height: fit-content;
  padding: 100px 60px 100px 60px;
  background-color: hsl(230, 27%, 96%);
  position: relative;
  z-index: -2;
}
main .section-2 .section-2-head {
  text-align: left;
}
main .section-2 .section-2-head h1 {
  font-size: 2.5em;
  line-height: 50px;
  color: hsl(240, 21%, 43%);
}
main .section-2 .section-2-head p {
  font-size: 1.3em;
  padding-top: 30px;
  line-height: 25px;
  color: hsl(240, 3%, 51%);
  width: 50vw;
  text-align: justify;
}

main .section-2 .cards-container {
  display: flex;
  flex-flow: row;
  width: 100vw;
}
main .section-2 .cards-container .card {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 2%;
  width: 20vw;
}
main .section-2 .cards-container .card h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal;
  color: hsl(240, 21%, 43%);
}
main .section-2 .cards-container .card p {
  padding-top: 15px;
  line-height: 25px;
  color: hsl(240, 3%, 51%);
  text-align: justify;
}
@media all and (max-width: 700px) {
  main .section-2 .cards-container {
    flex-flow: column wrap;
    width: 100vw;
    align-items: center;
  }
  main .section-2 .cards-container .card {
    width: 100vw;
    padding: 0 150px 0 0;
    align-items: center;
  }
  main .section-2 .section-2-head p {
    margin: auto;
  }
}
main .section-3 {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100vw;
  height: fit-content;
  padding: 100px 60px 100px 60px;
  background-color: white;
}
main .section-3 h1 {
  font-size: 2.5em;
  line-height: 50px;
  color: hsl(240, 21%, 43%);
}

main .section-3 .card-collection {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}
main .section-3 .card-collection .card {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 1.7%;
  width: 20vw;
}
main .section-3 .card-collection .card-first {
  margin-left: 0;
}
main .section-3 .card-collection .card img {
  width: 20vw;
  height: 200px;
  border-radius: 10px;
}

main .section-3 .card-collection .card figcaption {
  color: hsl(240, 3%, 51%);
  line-height: 25px;
  font-size: 1em;
}
main .section-3 .card-collection .card h3 {
  text-align: justify;
  font-size: 1.2em;
  line-height: 25px;
  text-decoration: none;
}
main .section-3 .card-collection .card h3 a {
  text-decoration: none;
  color: hsl(0, 0%, 1%);
}
main .section-3 .card-collection .card h3 a:hover {
  color: rgb(41, 133, 105);
}
main .section-3 .card-collection .card p {
  text-align: justify;
  color: hsl(240, 3%, 51%);
  line-height: 25px;
  padding-top: 5px;
}
@media all and (max-width: 700px) {
  main .section-3 .card-collection {
    flex-flow: column wrap;
  }
  main .section-3 .card-collection .card {
    align-items: center;
    width: 100vw;
    padding-right: 140px;
  }
  main .section-3 .card-collection .card img {
    width: 70vw;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(14, 14, 31);
  color: white;
  padding: 40px 30px 0 30px;
  /* overflow: hidden; */
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li {
  padding: 10px;
}
footer .item-3 p a {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(233, 59%, 43%)
  );
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 20px;
  position: relative;
  top: 30px;
}

footer .item-3 p {
  margin-bottom: 60px;
}
footer .item-0 span img {
  padding-bottom: 50px;
}
footer .item-0 span {
  padding: 15px 5px 15px 5px;
}
@media all and (max-width: 700px) {
  footer {
    flex-flow: column wrap;
  }
  footer .item {
    margin-top: 30px;
  }
}
